/* imports/ui/layouts/appBody.css 
 * Styling for the appBody layout
 */

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  height: 100%;
}

.half-pad-top {
  margin-top: 6%;
}

.pad-top {
  margin-top: 20%;
}

.full-height {
  height: 100%;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.med-height-wrapper {
  height: 40vh;
  max-height: 40vh;
  overflow: auto;
}

.med-height-area {
  min-height: 30vh;
  max-height: 40vh;
  overflow: auto;
}

.panel-heading > * {
  display: inline-block;
}

.panel-heading > .dropdown {
  padding-left: 20%;
}

.dropdown-menu p {
  text-align: center;
}

.place-type {
  text-align: center;
}

.active-place-type {
  background-color: #66FF71;
}

.inactive-place-type {
  background-color: #FF4A4A;
}
