<!-- imports/ui/components/groupKit/groupKit.html -->
<!-- Called by imports/ui/components/groupKit/groupKit.js -->

<!-- groupKit template for sidePanel -->
<template name="groupKit">
  <span class="sidePanelMarker" id="groupKitMarker"></span>
  {{> groupLocations}}
  {{> placeList}}
</template>

<template name="groupLocations">
  <div class="med-height-wrapper">
    <div class="well pad-top">

      {{#each locations}}
        <form class="form-horizontal existingLocation">
          <div class="form-group">
            <input class="col-xs-10" value={{location}}>
            <i class="col-xs-2 glyphicon glyphicon-remove removeLocation"></i>
          </div>
        </form>
      {{/each}}

      <form class="form-horizontal newLocation">
        <div class="form-group">
          <label class="col-xs-3">New</label>
          <input class="col-xs-8" type="text" id="newLocationBox">
        </div>
      </form>

    </div>
  </div>
</template>


<template name="placeList">
  <div class="med-height-wrapper half-pad-top">
    <div class="panel panel-default">

      <div class="panel-heading">
        <h3 class="panel-title">Nearby Places</h3>

  <!--  <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Show Types
            <span class="caret"></span>
          </button>

          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            {{#each placeTypes}}
              <li class="place-type {{#if display}}active-place-type{{else}}inactive-place-type{{/if}}">
                {{name}}
              </li>
            {{/each}}
          </ul>
        </div> -->
      </div>

      <ul class="list-group full-height-area">
        {{#each places}}
          <li class="list-group-item">
            {{name}}<br>
            {{vicinity}}<br>
          </li>
        {{/each}}
      </ul>
    </div>
  </div>
</template>
